{{#each this}}
<div class='country'>
   <div class='country_info'>
        <h1 class='country_title'>{{name}}</h1>
        <ul class='country_list'>
            <li class='country_item'><span class='country_item-bold'>Capital:</span>{{capital}}</li>
            <li class='country_item'><span class='country_item-bold'>Population:</span>{{population}}</li>
            <li class='country_item'><span class='country_item-bold'>Languages:</span>
                <ul class='country_languages'>
                    {{#each languages}}
                    <li class='country_item'>{{this.name}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
   </div>
    <div class='contry_img'>
        <img src='{{flag}}' alt='{{name}}' width="400" height="200">
    </div>
</div>
{{/each}}