{{#each this}}
<div class='country'>
    <h1 class='country_title'>{{name}}</h1>
    <ul class='country_list'>
        <li class='contry_item'>Capital:{{capital}}</li>
        <li class='contry_item'><span>Population:</span>{{population}}</li>
        <li class='contry_item'><span>Languages:</span>
            <ul>
                {{#each languages}}
                <li class='country_item_text'>{{this.name}}</li>
                {{/each}}
            </ul>
        </li>
    </ul>
</div>
<div class='contry-img'>
    <img src='{{flag}}' alt='{{name}}'>
</div>
{{/each}}